#photo {
    border: 2px blue solid;
}

h1 {
    color: blue;
}
h2 {
    color: grey;
}
div {
    margin: 4px;
}





/*body {
    background-color: #E0E0E2;
}
h1 {
    color: #721817;
}
h2 {
    color: #721817;
}
.center-text{
    text-align: center;
}
#logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
h2>span {
    font-size: 0.75em;    
    color: #FA9F42;
}

div #copyright {
    font-size: 0.75em;
    padding-top: 12px;
}*/